In [2]:
print("HELLO WORLD")

HELLO WORLD

In [4]:
X=5
Y="JOHN"
print(X)
print(Y)

5
JOHN

In [5]:
if 4>2:
    print("confirm")

confirm

In [6]:
#this is my affirmation
print("Gods blesings for me will me renued ever morning")

Gods blesings for me will me renued ever morning

In [8]:
print("BEST")#me

BEST

In [9]:
#print("hello world")
print("hello world")

hello world

In [11]:
"""As long as the ray of the sun continues to be yellow, 
may we allways 
and always 
be victorious
"""

print("Oyamienlen Oseremen")

Oyamienlen Oseremen

In [12]:
x=5
y="ose"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [15]:
x,y,z="Ose","joy","Ty"
print(x)
print(y)
print(z)

Ose
joy
Ty

In [17]:
x="python"
y="is"
z="awesome"
print(x,y,z)

python is awesome

In [21]:
x="python "
y="is "
z="awesome"
print(x + y + z)

python is awesome

In [24]:
x="awesome"


def myfunc():
    print("python is  "+x)
    
myfunc()

python is  awesome

In [29]:
def myfunc():
    global x
    x = ("fantastic")

myfunc()

print("python is " + x)

python is fantastic

In [2]:
#x=awesome

In [5]:
x=1
y=2.8
z=1j
print(type (x))
print(type (y))
print(type (z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [8]:
#x=3+5i
y=5-2J
z=8+4j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'complex'>
<class 'complex'>

In [13]:
#casting the process of converting data type from one to another
x=1
y=2.8
z=1j
a=float(x)
b=int(y)
c=complex(y)
print(type(a))
print(type(b))
print(type(c))
print((a))
print((b))
print((c))

<class 'float'>
<class 'int'>
<class 'complex'>
1.0
2
(2.8+0j)

In [23]:
#looking for indentation number starting with zero
a="Hello, World"
print(a[4])
print(len(a))
print(a[2:5])
print(a[-3:-1])

o
12
llo
rl

In [1]:
age=36
txt="my name is john, and i am {}"
print(txt.format(age))

my name is john, and i am 36

In [1]:
Fruit= ["Orange","Apple","Banana","pawpaw", "kiwi"]
for x in Fruit:
    print(x)

Orange
Apple
Banana
pawpaw
kiwi

In [3]:
Fruit= ("Orange","Apple","Banana","pawpaw", "kiwi")
print(type(Fruit))

<class 'tuple'>

In [9]:
Fruit=("Apple","banana","cherry")
Y= list(Fruit)
Y[2]= "Mango"
Fruit= tuple(Y)
print(Fruit)

('Apple', 'banana', 'Mango')

In [13]:
Fruit=("Apple","banana","cherry")
Y= list(Fruit)
Y.append("Orange")
Fruit= tuple(Y)
print(Fruit)

('Apple', 'banana', 'cherry', 'Orange')

In [15]:
SHOPS={"Apple","banana","cherry"}
print(type(SHOPS))

<class 'set'>

In [1]:
i = 1
while i< 6:
    print(i)
    if i ==3:
      break
    i += 1

1
2
3